.button {
    padding: 10px 15px;
    background: var(--tg-theme-button-color, blanchedalmond);
    color: var(--tg-theme-button-text-color, black);
    border: none;
    outline: none;
    cursor: pointer;
}
